#aboutContent {
    height: min-content;

    a {
        text-decoration: none;
        color: black;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20px;
        cursor: pointer;
        border: 1px solid;
        border-radius: 50px;
        gap: 5px;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover div {
            opacity: 50%;
        }

        & div:hover {
            opacity: 1;
        }
    }
}