.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 20px;

    .name {
        h1 {
            font-size: clamp(1rem, 4vw, 2rem);
            margin: 0;
        }

        span {
            font-size: clamp(.8rem, 2vw, 1rem);
            opacity: 60%;
        }
    }

    .links {
        font-size: clamp(3rem, 9vw, 10rem);
        line-height: 1.2;
        width: 100%;

        .link {
            font-weight: 500;
            display: block;
            transition: opacity .5s;
            text-align: right;
            text-decoration: none;
            color: black;
        }

        &:hover .link {
            opacity: 50%;
        }

        & .link:hover {
            opacity: 100%;
        }
    }
}