* {
    font-family: 'Nyght', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    background-color: #F7F7F7;
}

.section {
    padding: 50px 100px;

    .title {
        font-size: clamp(1.5rem, 3vw, 4vw);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    section {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 20px;

        .content {
            flex: 1;

            div {
                margin-bottom: 15px;

                ul {
                    margin-bottom: 0;
                }
            }
        }

        .image {
            flex: 1;

            img {
                width: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
                object-position: top;
            }
        }
    }
}

button {
    margin-bottom: 15px;
    padding: 10px 30px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 50px;
    background: transparent;
    gap: 5px;
}

@media (max-width: 924px) {
    .section {
        padding: 20px;

        section {
            flex-direction: column-reverse;
        }
    }
}